body{margin: 0; text-align: center;font-family: Merriweather;color: #40514E}
h1{margin: 50px auto 0 auto; padding-top: 7%;font-family: Sacramento;font-size: 5.625rem; color: #66bfbf;}
h2{font-family: Montserrat; font-size: 2.3rem;color: #66bfbf;font-weight: normal;}
h3{font-family: Montserrat; color: #11999e;font-weight:bolder;}
p{;font-weight: bold;}
hr{border-style: dotted none none; border-width: 5px;border-color: #EAF6F6;width: 3%; margin: 50px auto;}
.top_container{background-color: #e4f9f5;margin: 0 0 70px;position: relative; padding-top: 3%;}
.bottom_cloud{position: absolute; margin-top: 2%;left: 25%;}
.top_cloud{position: absolute; margin-left: 15%;margin-top: 2%;}
.profile{padding-top: 3%;}
.profile_picture {height:200px;}
.intro{width: 30%; margin: auto; line-height: 2;}
.coding{width:25%;float: left; padding-right: 5%;}
.music{width:25%;float: right;padding-left: 5%;}
.skills{padding-top: 1%;}
.skills_row{display:inline-block;width: 50%; margin: 50px auto; text-align: left; line-height: 2;}
.headings{font-weight: bolder;}
.bottom_container{background-color: #66bfbf;padding: 4% 0 1%;margin:100px 0 0;}
.closure{width: 30%; margin: auto; line-height: 2;}
.footer_link{color: #11999e;text-decoration: none; margin: 0 20px; font-weight: bolder; font-family: Montserrat}
.copyright{color: #eaf6f6;font-size: 0.8rem;margin-top: 30px;}
.btn{ background-color: #11999e; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none;
  display: inline-block; font-size: 20px; border-radius: 10px; font-family: Montserrat;font-weight: bold; margin-top: 25px;}

.footer_link :hover {color: #eaf6f6;}
